napari[all]
numpy
pandas
seaborn
matplotlib
jupyterlab
git+https://github.com/adrtsc/napari-feature-visualization.git
git+https://github.com/adrtsc/napari-blob-detection.git
git+https://github.com/adrtsc/lca.git
h5py